{% extends 'Huffman_coding_app/layout.html' %}
{% block body %}
{% load static %}

        <br>
        <div style="text-align: center;display: block; width: 100%;margin-top: 5px;">
        <h3 class="text-center text-info" style="font-size:60px;text-align: center;">About Us</h3>
        <br>

 <div class="full-container col-12">
	                    <div class ="left-container">
	                    <div class="image-about image">
                            </div>
	                    </div>
	                    <div class="right-container">
	                    	<div class="text-about">
	                    		Text Compression is a platform to reduce the size of text file without loosing any data that helps in ease of exchanging a file over a internet. We will provide textc file by reducing the size of text file and when you again want to download original file you have upload these textc file in decompression part and we will provide original file again. Text compressoin is aimed to reduce the cost of sending a data over internet.
	                    	</div>
	                    </div>
                    </div>
{% endblock %}